.createProfilePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 51px;
  padding-left: 56px;
  padding-right: 40px;
}

.infoSection {
  width: 100%;
  max-width: 430px;
  padding-top: 76.12px;
}

.formSection {
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 30px;
}

@media (min-width: 1280px) {
  .createProfilePage {
    justify-content: space-between;
  }

  .formSection {
    padding-top: 179.5px;
  }
}

.createProfilePage h1 {
  height: 53px;
  margin-bottom: 13px;
  font-size: 35px;
  font-weight: 800;
  line-height: 41.02px;
}

h2 {
  height: 38px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35.16px;
}

hr {
  margin: 13px 0 13px;
  border: 0.5px solid var(--color-accent-primary);
}

.paragraphs {
  max-width: 405px;
}

p {
  line-height: 30px;
}

p:nth-of-type(2) {
  margin-top: 5px;
}
